* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: #f5f5f5;
  --bg-dark: #1a2238;
  --text-light: #222;
  --text-dark: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  line-height: 1.5;
  transition: all 0.3s ease;
}

header {
  padding: 1.5rem 0;
}

li {
  list-style: none;
  margin: 0.5rem 0;
}

/* Layout */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 1.5rem;
}

/* Header */
.header {
  background-color: var(--bg-light);
  color: var(--text-light);
  padding: 1.5rem 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Dark mode */
body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.dark-mode-btn {
  font-size: 1.25rem;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 999px;
  border: none;
  background-color: var(--bg-dark);
  outline: none;
  cursor: pointer;
}

body.dark-mode .header {
  background-color: #333;
  color: var(--text-dark);
}

body.dark-mode .note-container,
body.dark-mode .note-title {
  background-color: #444;
  color: var(--text-dark);
}

body.dark-mode .list {
  background-color: #555;
  color: var(--text-dark);
}

body.dark-mode .title {
  background: linear-gradient(135deg, #fef9ff, #f1f4fe);
  background-clip: text;
  -webkit-background-clip: text;
}

body.dark-mode .dark-mode-btn {
  background-color: var(--bg-light);
}

body.dark-mode .note-container {
  color: var(--text-light);
}

/* List Content */
.title {
  text-align: center;
  margin: 2rem 0 2.5rem;
  font-size: 2.8rem;
  background: linear-gradient(180deg, #0f172a, #475569);
  color: transparent;
  background-clip: text;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.note-container {
  padding: 1.25rem;
  background-color: #f7f7f7;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.06),
    0 10px 10px -5px rgba(0, 0, 0, 0.02);
  max-width: 500px;
  border-radius: 1.5rem;
  margin: 2.5rem auto;
}

.note-input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-radius: 5rem;
  border: none;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);
}

.note-input:focus {
  outline: 2px solid #6366f1;
}

.note-list {
  margin: 2rem 0;
}

.note-title {
  margin-top: 2rem;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  transition: 0.3s ease;
}

.list-animation {
  opacity: 0;
}

.list-animation.active {
  opacity: 1;
}

/* Text container */
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.text-span {
  display: block;
  max-width: 100%;
  font-size: 1rem;
  margin-right: 0.5rem;
  font-weight: 600;
  word-break: break-word;
  white-space: pre-wrap;
}

.text-input {
  width: 100%;
  flex: 1;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
}

.text-input:focus {
  box-shadow: inset 0 -1px 0 dodgerblue;
  transition: 0.3s;
}

.complete-checkbox{
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.25rem;
  border: none;
  background-color: #6366f1;
  color: white;
  border-radius: 5rem;
  font-weight: 600;
  cursor: pointer;
}

.button-action {
  font-size: 1rem;
  padding: 0.25rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 0.75rem;
  transition: 0.3s ease;
}

.action-hover:hover {
  background-color: #f1f5f9;
}

/* Utility */
.ml-8 {
  margin-left: 1rem;
}
